.message {
    display: grid;
    background-color: lightcoral;
    grid-template-areas: "img text";
    grid-template-columns: 1fr 4fr;
    grid-gap: 0.5rem;
    width: 300px;
}
.img {
    display: grid;
    grid-area: img;
    width: 50px;
    border-radius: 50%;
    margin: 0.5rem 0 0.5rem 0.5rem;
    align-self: end;
}
.text {
    background-color: saddlebrown;
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding: 0.5rem;
    border-radius: 10px 10px 10px 0;
}
.name {
    color: wheat;
}
.textMessage {
    display: grid;
    grid-area: text;
    color: lightgreen;
}
.time {
    display: grid;
    color: antiquewhite;
    justify-content: end;
    align-self: end;
}